<!-- <p>dialog works!</p> -->
<div *ngIf="data&&data.from === 'delete'">
    <!-- <ng-container > -->
      <mat-dialog-content>
        <p class="fs_14 text-center mb-3 ">{{'Are you sure want to delete?'}}</p>
        <div class="col w-100 mx-0 d-flex justify-content-end">
          <button mat-raised-button color="primary" (click)="onConfirmClick()" class="mr-2">
            {{'Yes' }}
          </button>
          
          <button mat-raised-button color="accent" (click)="onCancelClick()">
            {{'No'}}
          </button>
        </div>
      </mat-dialog-content>
    <!-- </ng-container> -->
  </div>