::ng-deep .mat-tab-nav-bar .mat-tab-header {
    border-bottom: none !important
  }
  
  
  ::ng-deep .mat-tab-label .mat-tab-label-content{
    padding-left: 55px;
    padding-right: 45px;
    margin-right: -25px;
    margin-left: -15px
  }

  
.container-box1 {
  border: 1px solid #ccc; /* Add a border */
  padding: 20px; /* Add some padding inside the container */
  border-radius: 10px; /* Add rounded corners */
  // box-shadow: 0 0 10px rgba(114, 110, 110, 0.1); /* Add a subtle shadow */
  // background-color: rgb(232, 232, 235)
  border: 1px dotted #000;
}
  
  .Upload_Photo {
     padding: 5px;
    // background-color: #fff;
    border-radius: 5px;
    // box-shadow: 0 2px 4px #fff;
    // display: flex;
    align-items: Right;
    justify-content: right;
    // .Upload_Photo img {
      float: right; /* Float the image to the right */
      margin-left: 10px;
  }
  
  ::ng-deep .mat-tab-label .mat-tab-label-content {
    background-color: gainsboro;
    padding: 30px;
  }

  .head-content-right{
    display: flex;
    align-items: center;
    margin-left: 25rem;

  }

  
  .head-content-right1{
   margin-top: 0%;
    margin-left: 30rem;

  }
  
  ::ng-deep .mat-tab-label-active,
  .mat-tab-link {
    font-weight: 700;
    border-bottom: none !important;
  }
  
  .remove-border-bottom ::ng-deep .mat-tab-header {
    border-bottom: none;
  }
  
  
  .card {
    background-color: #fff;
    // height: 90%;
    border-radius: 10px;
    margin: 10px;
    // border: 1px solid #ddd;
    overflow: hidden !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    // text-align: center;
  }

  .select-link{
    // padding-left: 55px;
    padding-right: 5px;
    // margin-right: 25px;
    width: 15%;
    background-color: rgb(187, 183, 187);
    // background-color: #1363b3;
    color: #0a0909;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position:absolute;
    right: 10%; 
   
    // margin-left: -15px
  }


  ::ng-deep .mat-ink-bar{
    display: none;
  }
  
  mat-label .required {
    color: red;
  }
  
  .required-error {
    border-color: red !important;
  }
  
  .hintalign {
    display: flex !important;
    justify-content: end !important;
  }
  
  .section-b {
    margin: 10px;
  
    .input {
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 5px;
      background: #f3f3f9;
      width: 100%;
      line-height: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      flex-grow: 1;
    }
  
    h5 {
      color: green;
    }
    .browse-button {
      background-color: #1363b3;
      color: #fff;
      padding: 10px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      position:relative;
      right: 5; 
     
      // bottom: 9;
    }

    
  
    .input-container {
      display: flex;
      align-items: center;
      position: relative; 
  }
  
    ::ng-deep .mat-select {
      border-radius: 10px;
      background: #f3f3f9;
      line-height: 25px;
      padding: 8px;
    }
  
    ::ng-deep .mat-mdc-select {
      margin: 10px;
    }
  }
  
  .card-title {
    display: flex;
    align-items: center;
    margin: 4px;
  }
  
  // input[type="date"]::-webkit-calendar-picker-indicator {
  //   position: absolute;
  //   left: 36rem !important;
  //   width: 24px;
  //   height: 24px;
  //   background: url('https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png') center/cover no-repeat;
  //   opacity: 0.5;
  //   text-transform: uppercase;
  //   cursor: pointer;
  // }
  
  // input[type="date"]::-webkit-inner-spin-button {
  //   display: none !important;
  // }
  
  // input[type="date"]::placeholder {
  //   text-transform: uppercase !important;
  // }
  
  // input[type="date"]::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   z-index: 1;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: transparent;
  // }
  
  input[type="date"]::-webkit-datetime-edit {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
  
  .disflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .delete-icon-container {
    display: flex;
    justify-content: flex-end;
    right: 5; 
  }

  .add-icon-container {
    display: flex;
    justify-content: flex-end;
    right: 5; 
  }

  .container-box {
    border: 1px solid #ccc; /* Add a border */
    padding: 20px; /* Add some padding inside the container */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(114, 110, 110, 0.1); /* Add a subtle shadow */
    background-color: rgb(232, 232, 235)
  }
  

.delete-icon-container {
  display: flex;
  justify-content: flex-end;
  right: 5; 
}
  