<div class="container">
  <div class="card-title">
    <i class="fa fa-arrow-left" style="font-size:20px;cursor: pointer;" routerLink="/office-data/list"></i>&nbsp;&nbsp;
    <h4 style="padding:0px !important ;margin:0px !important;font-weight: 600">{{'Go Back'| uppercase}}
    </h4>
  </div>

  <div class="card">
    <div class="card-title" style="display: flex;justify-content: center;">
      <h2 style="padding:0px !important ;margin:0px !important;font-weight: 600;color: #a29b9b;">{{'Edit Circle Office'|
        uppercase}}</h2>
    </div>
<div class="card">
  <form [formGroup]="myForm">
    <div class="row">
      <div class="section-b col">
        <mat-label>Circle Code</mat-label>
        <input class="input" type="text" name="Search" matInput formControlName="v_Circle_Code" value="{{data.v_Circle_Code}}" >

      </div>
      <div class="section-b col">
        <mat-label>Circle Name</mat-label>
        <input class="input" type="text" name="Search" matInput formControlName="v_Circle_Name" value="{{data.v_Circle_Name}}" >
      </div>


      <div class="section-b col">
        <mat-form-field appearance="fill">
          <mat-label>Type of Circle</mat-label>
          <mat-select class="input" type="text" name="Search" formControlName="v_Type_Of_Circle" value="{{data.v_Type_Of_Circle}}">
            <mat-option value="city" >City</mat-option>
            <mat-option value="moffusil">Moffusil</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="section-b col">
        <mat-label>Circle Place</mat-label>
        <input class="input" type="text" name="Search" matInput formControlName="v_Circle_Place" value="{{data.v_Circle_Place}}" >
      </div>

    </div>
    <div class="row">
      <div class="section-b col">
        <mat-label>Address</mat-label>
        <input class="input" type="text" name="Search" matInput formControlName="v_Address" value="{{data.v_Address}}" >
      </div>
      <div class="section-b col">
        <mat-label>Pincode</mat-label>
        <input class="input" type="text" name="Search" matInput formControlName="n_Pincode" value="{{data.n_Pincode}}">
      </div>

      <div class="section-b col">
        <mat-label>Phone</mat-label>
        <input class="input" type="text" name="Search" matInput formControlName="n_Phone"value="{{data.n_Phone}}" >
      </div>

      <div class="section-b col">
        <mat-label>Email</mat-label>
        <input class="input" type="text" name="Search" matInput formControlName="v_Email"  value="{{data.v_Email}}" >
      </div>

    </div>
    <div style="display: flex; justify-content: center;">
      <button mat-raised-button  style="color: #470A3C; font-weight: bold;width: 150px;" routerLink="/office-data/list">Back</button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button style="background-color:#470A3C;color: white; font-weight: bold;width: 150px;"(click)="saveCircleOffice()" >Update</button>
    </div>
  </form>
</div>
</div>

