::ng-deep .mat-tab-nav-bar .mat-tab-header {
    border-bottom: none !important
  }
  
  
  ::ng-deep .mat-tab-label .mat-tab-label-content {
    padding-left: 55px;
    padding-right: 45px;
    margin-right: -25px;
    margin-left: -15px
  }
  
  ::ng-deep .mat-tab-label .mat-tab-label-content {
    background-color: gainsboro;
    padding: 30px;
  }
  
  ::ng-deep .mat-tab-label-active,
  .mat-tab-link {
    font-weight: 700;
    border-bottom: none !important;
  }
  
  .remove-border-bottom ::ng-deep .mat-tab-header {
    border-bottom: none;
  }
  
  
  .card {
    background-color: #fff;
    // height: 90%;
    border-radius: 10px;
    margin: 10px;
    // border: 1px solid #ddd;
    overflow: hidden !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: left;
  }
  
  ::ng-deep .mat-ink-bar {
    display: none;
  }
  
  mat-label .required {
    color: red;
  }
  
  .required-error {
    border-color: red !important;
  }
  
  .hintalign {
    display: flex !important;
    justify-content: end !important;
  }
  
  .section-b {
    margin: 10px;
  
    .input {
      padding: 10px;
      border: none;
      border-radius: 10px;
      background: #f3f3f9;
      width: 100%;
      line-height: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    ::ng-deep .mat-select {
      border-radius: 10px;
      background: #f3f3f9;
      line-height: 25px;
      padding: 8px;
    }
  
    ::ng-deep .mat-mdc-select {
      margin: 10px;
    }
  }
  
  .card-title {
    display: flex;
    align-items: center;
    margin: 4px;
  }
  
  // input[type="date"]::-webkit-calendar-picker-indicator {
  //   position: absolute;
  //   left: 36rem !important;
  //   width: 24px;
  //   height: 24px;
  //   background: url('https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png') center/cover no-repeat;
  //   opacity: 0.5;
  //   text-transform: uppercase;
  //   cursor: pointer;
  // }
  
  // input[type="date"]::-webkit-inner-spin-button {
  //   display: none !important;
  // }
  
  // input[type="date"]::placeholder {
  //   text-transform: uppercase !important;
  // }
  
  // input[type="date"]::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   z-index: 1;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: transparent;
  // }
  
  input[type="date"]::-webkit-datetime-edit {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }
  
  .disflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  
  ::ng-deep .mat-flat-button.mat-primary,
  .mat-raised-button.mat-primary,
  .mat-fab.mat-primary,
  .mat-mini-fab.mat-primary {
    background-color: #96426c;
    color: #fff;
    font-weight: 500;
  }
  
  ::ng-deep .mat-flat-button.mat-warn,
  .mat-raised-button.mat-warn,
  .mat-fab.mat-warn,
  .mat-mini-fab.mat-warn {
    background-color: rgb(95, 99, 99);
    color: #fff;
    font-weight: 500;
  }