<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <mat-icon style="color:#fff;margin-right:18px;margin-left:7px" (click)="toggleCollapse()">menu</mat-icon>
    <div class="logo-text" *ngIf="collapsed">
      <h3 style="margin: 12px;">Dashboard</h3>
    </div>
    <!-- <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()"> -->
    <!-- <mat-icon style="position: relative;right: 20px;" class="iconsmat">menu_open</mat-icon>
    </button> -->
  </div>
  <hr>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item parent-menu" *ngFor="let data of navData">
      <a class="sidenav-nav-link"   [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="handleClick(data)" *ngIf="data.subItems && data.subItems.length > 0">
        <mat-icon class="sidenav-link-icon" matTooltip="{{!collapsed ? data.label : ''}}" matTooltipPosition="right">{{
          data.icon }}</mat-icon>
        <span class="sidenav-link-text" *ngIf="collapsed">{{ data.label }}</span>
        <mat-icon *ngIf="data.subItems && collapsed" class="menu-collapse-icon">{{!data.expanded? 'chevron_right': 'expand_more'}}</mat-icon>
      </a>
      <a class="sidenav-nav-link" *ngIf="!data.subItems || (data.subItems && data.subItems.length === 0)"
        [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="sidenav-link-icon" matTooltip="{{!collapsed ? data.label : ''}}" matTooltipPosition="right">{{
          data.icon }}</mat-icon>
        <span class="sidenav-link-text" *ngIf="collapsed">{{ data.label }}</span>

      </a>
      <div *ngIf="collapsed && data.subItems && data.subItems.length > 0">
        <app-sublevel-menu [collapsed]="collapsed" [data]="data" [multiple]="multiple" [expanded]="data.expanded"></app-sublevel-menu>
      </div>
    </li>
  </ul>
</div>