.sidenav {
  background: #50163C;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 5rem;
  height: 100vh;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;

    .logo {
      background: transparent;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      margin-left: 0.5rem;
      font-size: 15px;
      font-weight: 600;
      color: white;
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .iconsmat {
        color: #fff;
        font-size: 24px;
      }
    }
  }
}

.sidenav-nav-userName {
  width: 100%;
  // overflow-y: auto;
}

.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;
  overflow-y: auto;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: transparent transparent;
  /* For Firefox */

  /* For Webkit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  // overflow: hidden;
  background-color: transparent;


  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: white;
      margin-left: 5px;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;

      .sidenav-link-icon {
        position: relative;
        // left: 5px;
        font-size: 20px;
        width: 2rem;
        min-width: 2rem;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-top: 3px;
        text-align: center;
      }

      .sidenav-link-text {
        margin-left: 1.5rem;
      }
    }

    .sidenav-nav-link:hover {
      background-color: #6d045b;
      color: #51c28b;
      font-weight: 500;
      text-align: center;

      .menu-collapse-icon {
        color: #51c28b;
      }
    }
  }

  // .sidenav-nav-item:hover {
  //   .sidenav-nav-link {
  //     background-color: #6d045b;
  //     color: #51c28b;
  //     font-weight: 500;
  //   }
  // }
}

.active-sublevel{
  background-color: #7c5175;

}
.active {
  background-color: #7c5175;

  .menu-collapse-icon,
  .sidenav-link-icon,
  .sidenav-link-text {
    color: #51c28b !important;
    font-weight: 500;
  }
}

.dropdown-container {
  display: flex;
  align-items: center;

  .sidenav-link-icon {
    font-size: 20px;
    width: 2rem;
    min-width: 2rem;
    margin-right: 5px;
    text-align: center;
  }

  .sidenav-link-text {
    margin-left: 1.5rem;
  }
}



nav ul li ul li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

nav ul li ul li:hover ul {
  display: block;
}

.menu-collapse-icon {
  font-size: 25px;
  width: 2rem;
  min-width: 2rem;
  margin: auto 0.5rem auto auto;
  text-align: center;
  color: #f3f3f3;
}

.sublevel-nav {
  list-style: none !important;
  margin-left: 10px !important;

  .sublevel-nav-item {
    .sublevel-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #898989;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all .3s ease;

      .sublevel-link-icon {
        font-size: 4px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sublevel-link-text {
        margin-left: 0.8rem;
      }
    }

    .sublevel-nav-link {
      color: #f3f3f3;
    }
    .sublevel-nav-link:active{
      background-color: #7c5175;
      color: #51c28b;
    }
  }
}